@charset "utf-8";

 h1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	}
	h2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	}
	h3 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	}
	body {
	    background-image: url("dgl_14686890542_481589ae4c_c_706.jpg");
		background-repeat: no-repeat;
		background-size: cover;

		
	}
	p {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	}
	body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}